spring:
    application:
        name: member-service

    cloud:
        config:
            enabled: false



    datasource:
        url: jdbc:postgresql://localhost:5432/member_service
        username: postgres
        password: postgres
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true

server:
    port: 8090

eureka:
    client:
        enabled: false    

management:
  endpoints:
    web:
      exposure:
        include: "*"