eureka:
    client:
        serviceUrl:
            defaultZone: http://localhost:8761/eureka


spring:
    datasource:
        url: jdbc:postgresql://localhost:5433/catalog_service
        username: postgres
        password: postgres
        driver-class-name: org.postgresql.Driver
    
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true            